<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBThemeArtist</key>
	<string>Lachlan Hardy</string>
	<key>BBArtistURL</key>
	<string>http://lachstock.com.au</string>
	<key>BBThemeIdentifier</key>
	<string>com.lachlanhardy.Simple</string>
	<key>BBThemeName</key>
	<string>Simple</string>
	<key>BBMainFile</key>
	<string>theme.html</string>
	<key>BBThemePreviewFile</key>
	<string>template.html</string>
</dict>
</plist>
