<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN'
'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' lang='en' xml:lang='en'>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1' />
<meta http-equiv='Content-Lanquge' content='en-us' />
<link href='style.css' rel='stylesheet' type='text/css' />
<title>Torn Paper</title>
</head>
<body>
<div id='page'>
  {% for tweet in tweets %}
    <div class='tweet {%if tweet.isOwn %}me{%else%}{%if tweet.type == BBReply%}reply{%/if%}{% if tweet.type == BBDirectMessage %}dm{%/if%}{%/if%}'>
      
      <a class='avatar' href='{{tweet.userURL}}'>
        <img alt='{{tweet.author.fullName}}' height="72" src='{{tweet.author.imageURL}}' title='{{tweet.author.fullName}}' width="72" />
        </a>
      <a class="time" href="http://twitter.com/{{tweet.author.username}}/status/{{tweet.tweetID}}">
        {{tweet.date | date_format: "H:mm" }}
      </a>
      <div class="realname">
        <a href='{{tweet.userURL}}'>{{tweet.author.fullName}}</a>
      </div> 
      <div class='content'>
        {{tweet.content}}
      </div>
    </div>

    <div class='clear'></div>

  {% /for %}
</div>
</body>
</html>